<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NTA TEST 007.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05A42EAA1E5DF57D006386A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A42EBE1E5DF57D006386A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A42EC91E5DF57D006386A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
